function Keyboard.init 0
push constant 24576
pop static 0
push constant 0
return
function Keyboard.keyPressed 0
push static 0
call Memory.peek 1
return
function Keyboard.readChar 1
push constant 0
call Output.printChar 1
pop temp 0
label $WHILE.START.0
call Keyboard.keyPressed 0
not
not
if-goto $WHILE.END.0
goto $WHILE.START.0
label $WHILE.END.0
call Keyboard.keyPressed 0
pop local 0
label $WHILE.START.1
call Keyboard.keyPressed 0
push local 0
eq
not
if-goto $WHILE.END.1
goto $WHILE.START.1
label $WHILE.END.1
call Output.backSpace 0
pop temp 0
push local 0
call Output.printChar 1
pop temp 0
push local 0
return
function Keyboard.readLine 2
push argument 0
call Output.printString 1
pop temp 0
push constant 20
call String.new 1
pop local 0
label $WHILE.START.2
push constant 0
not
not
if-goto $WHILE.END.2
call Keyboard.readChar 0
pop local 1
push local 1
call String.newLine 0
eq
not
if-goto $IF.FALSE.3
call Output.println 0
pop temp 0
push local 0
return
goto $IF.END.3
label $IF.FALSE.3
push local 1
call String.backSpace 0
eq
not
if-goto $IF.FALSE.4
call Output.backSpace 0
pop temp 0
push local 0
call String.eraseLastChar 1
pop temp 0
goto $IF.END.4
label $IF.FALSE.4
push local 0
push local 1
call String.appendChar 2
pop local 0
label $IF.END.4
label $IF.END.3
goto $WHILE.START.2
label $WHILE.END.2
function Keyboard.readInt 1
push argument 0
call Keyboard.readLine 1
pop local 0
push local 0
call String.intValue 1
return